* {
    margin: 0;
    padding: 0;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

header h3 {
    animation: fadeUp 0.7s ease-in-out forwards;
    opacity: 0;
}

.about-me h1 {
    animation: fadeUp 0.7s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.3s;
}

img, .about-me-img {
    animation: fadeUp 0.7s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

p {
    animation: fadeUp 0.7s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    overflow-x: hidden;

}

:root[data-theme="dark"] {
        --text: #ebe9fc;
        --background: #010104;
        --primary: #799bc8;
        --secondary: #2c303a;
        --accent: #0600c2;
      }
      

main {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

p {
    text-shadow: 0px 0px 9px rgba(59, 130, 246, 0.5);
}


header h3 {
    color: var(--text);
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 28px;
    font-weight: 700;
}

.hero {
    max-width: 100%;
    margin: 40px auto;  
    padding: 0 20px; 
    display: flex;
    justify-content: space-between;
    gap: 50%;
}

.about-me {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-me-img {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    border: solid 2px var(--secondary);
    border-radius: 40px;
    box-shadow: 0px 0px 4px 0px var(--text), 0px 0px 56px -2px var(--primary)
}

.about-me-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: solid 2px var(--secondary);
    border-radius: 40px;
}


.skills {
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.skill-cards {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    border: solid 1px var(--primary);
    border-radius: 10px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    min-height: 150px;
    gap: 20px;
}

.bobbles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    flex-wrap: wrap;
}

.bobbles button {
    background-color: var(--primary);
    border: solid 1px var(--secondary);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bobbles button:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-me-img {
        display: flex;
        align-self: center;
        margin-top: 50px;   
    }
}

